[submodule "client"]
	path = client
	url = https://gitlab.com/flexiwangroup/fleximanageui.git
[submodule "backend/billing"]
	path = backend/billing
	url = https://gitlab.com/flexiwangroup/flexibilling.git
[submodule "vpnportal"]
	path = vpnportal
	url = https://gitlab.com/flexiwangroup/flexivpnportal.git
